{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Lilita One' rel='stylesheet'>
  <title></title>
  <script src="https://kit.fontawesome.com/1c941d1499.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/drop.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/mainpage.css' %}?sd">
</head>
<body>          
     <div class="container">
        {% include 'nav.html' %}         
  
        <div class="mainheader">MyCut</div>
        <div class="contents">
            <div id="slider">
            <div class="image-box">
              {% for post in posts %}
                <a href="{% url 'detail' post.id %}"><img src="{{ post.image.url }}" alt="" width="180px" height="300px"></a>
            
              {% endfor %}
            </div>
        </div>
     
           
        
        
    </div>
    </div>

<script src="{% static 'js/drop.js' %}"></script>

</body>
</html>
