{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://kit.fontawesome.com/fc13d61e87.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Lilita One' rel='stylesheet'>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=6bbe35371556c751c7a89b3e86ef7952&libraries=services"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="{% static 'css/maps.css' %}?after" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/drop.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/map.css' %}?after">
    
    <title>지도</title>
</head>
<body>
    <div class="container">
        {% include 'nav.html' %} 
        <div>
            <br>
            <div class="category-btn">
                <button onclick="search1();">인생네컷</button>
                <button onclick="search2();">포토이즘</button>
                <button onclick="search3();">포토시그니처</button>
                <button onclick="search4();">하루필름</button>
            </div>
        </div>

        <div class="map_wrap">
            <div id="map" style="width: 400px;;height:400px;position:relative;overflow:hidden;"></div>
        </div>


    <div id="menu_wrap" style="margin-top: -100px;" >
        <div class="option">
            
        </div>
        <hr>
        <ul id="placesList"></ul>
        <div id="pagination"></div>
    </div>
        
    </div>
    <script src="{% static 'js/map.js' %}"></script>
    <script src="{% static 'js/drop.js' %}"></script>
</body>
</html>